<h1>@facility.name</h1>
<p><%= "Created by:" @facility.user.name %></p>
<p><%= "Category:" @facility.category %></p>
<p><%= "Address:" @facility.address %></p>
<p>DESCRIPTION"<br><%= @facility.description %></p>
