<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563299796-b729d0af54a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80);">
  <div class="container">
    <h1><strong>Athletiq</strong></h1>
    <div class="banner-underline"></div>
    <p>Rent you sport facilities easily ...</p>
    <a class="btn btn-flat" href="#">Book a facility</a>
  </div>
</div>
