<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563299796-b729d0af54a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80)">
  <div class="container">
    <h1><strong>Athletiq</strong></h1>
    <div class="banner-underline"></div>
    <p>Rent your sport facilities easily ...</p>
    <%= link_to "Book a facility", facilities_path, class:"btn btn-flat"%>

  </div>
</div>

