.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 88px;
  font-weight: bold;
}

.banner p {
  font-size: 28px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-underline {
  height: 10px;
  width: 297px;
  background: rgb(1,1,1);
  background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(123,59,55,0.8687850140056023) 67%, rgba(121,9,30,1) 100%);
}

.btn-flat {
  background-color: #7B0F22 !important;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
}