.img-index {
  object-fit: cover;
  height: 250px;

}

.btn-primary {
  border: none;
  background: rgb(1,1,1) !important;
  background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(123,59,55,0.8687850140056023) 67%, rgba(121,9,30,1) 100%) !important;
}


.cards {
  max-height: 300px;
}
.content {
  display: flex;
}

#map {
  height: 100vh !important;
  position: sticky !important ;
  top: 0 !important;
}
#title {
  display: inline-block;
}
.card-body {
  background-color: white;

}
.h5-card {
  text-decoration: none !important;
  color:rgba(121,9,30,1);
}
