.container-show {
  display: flex;
  padding-top: 10px;
}
// .fixed-card {
//   position: absolute;
// }
.h2show {
  padding-left: 100px;
  padding-top: 10px;
}

.fixed-card {
  margin-left: 10px;
  position: fixed;
  background-color: white;
  border:1px solid rgb(221,221,221);
  border-radius:12px;
  box-shadow:rgba(0,0,0,0.12) 0 6px 16px;
  padding: 24px;
  min-width: 20%;
  min-height: 70%

}

.card-product {
  overflow: hidden;
  height: 100%;
  max-width: 72%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
}

.card-product img {
  height: 100%;
  max-width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
