.forms-layout {
  margin-top: 100px;
}

.form-inputs {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #812A34;
  padding: 100px;
  border-radius: 16px;
}
h2.form-title {
  margin-bottom: 36px; 
  color: rgb(88, 88, 88) !important;
}

.links {
text-decoration : none ;
color: #812A34 !important;
}
.form-actions {
  margin-top : 36px ;
}

.btn-primary {
  margin-bottom: 10px;
}