.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 16px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #7A0C20;
}

.h2-pop-up {
  font-size: 18px;
  font-weight: bold;
}

.h2-pop-up {
  font-size: 22px;
}